/* Poppins and league Import  */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Removing the highlighting color when tapped  */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Root color variables  */

:root {
  --dk-violet: hsl(268, 75%, 9%);
  --lt-violet: hsl(268, 47%, 21%);
  --lt-violet2: hsl(281, 89%, 26%);
  --vb-violet: hsl(285, 91%, 52%);
  --vb-violet2: hsl(290, 70%, 36%);

  --vb-yellow: hsl(52, 100%, 62%);

  --pl-white: hsl(0, 0%, 100%);
  --pl-grey: hsl(268, 13%, 80%);

  --vb-cyan: hsl(176, 100%, 44%);
  --vb-cyan2: hsl(177, 92%, 70%);
  --dk-text: hsl(198, 20%, 13%);
}

body {
  font-family: "League Spartan", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--lt-violet2),
    var(--dk-violet)
  );
  color: white;
}

/* Box container  */

.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.3s all;
}

/* Style heading  */

.site-heading {
  font-size: 1.9rem;
  color: var(--pl-grey);
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  text-align: center;
}

.display-password {
  position: relative;
  border-bottom: 6px solid var(--vb-violet2);
  border-radius: 20px;
  width: 450px;
  transition: 0.3s all;
}

input[data-showpassword] {
  width: 100%;
  background-color: var(--dk-violet);
  color: var(--vb-yellow);
  padding: 20px 15px;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

input[data-showpassword]::placeholder {
  color: var(--vb-yellow);
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 3px;
  line-height: 1.25;
}

input[data-showpassword]:focus,
input[data-showpassword]:active,
input[data-showpassword]:hover {
  outline: none;
}

/* Copy btn  */

.display-password .copy-btn {
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: transparent;
  border: none;
  padding: 2px;
  cursor: pointer;
}

.display-password .copy-btn .img {
  filter: brightness(150);
}

/* Copy ToolTip */

.tooltip {
  position: absolute;
  right: 0;
  top: -15px;
  color: var(--vb-yellow);
  background-color: var(--vb-violet2);
  padding: 4px 8px;
  border-radius: 15px;
  transform: scale(0);
  transition: 0.3s all;
}

.active {
  transform: scale(1);
}

/* Password Configuration container  */

.passConfig-container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: var(--dk-violet);
  border-radius: 15px;
  gap: 1rem;
  text-align: center;
}

.password-length {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.password-length .length-head {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.25;
  color: white;
}

.password-length p {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--vb-yellow);
}
/* Input number ranges div  */

.input-range {
  width: 100%;
  margin: 0 auto;
}

/* Styling input Slider  */

input[type="range"].slider {
  width: 90%;
  height: 0.7rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: var(--vb-violet);
  outline: none;
  outline: 1px solid var(--vb-yellow);
  -webkit-appearance: none;
}

/*progress support*/
input[type="range"].slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"].slider:focus {
  outline: 3px solid var(--vb-yellow);
}

/*webkit*/
input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--vb-yellow);
  cursor: pointer;
  margin-top: -10px;
  box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.5);
}

input[type="range"].slider::-webkit-slider-runnable-track {
  height: 10px;
  background: hsl(290, 70%, 36%);
}

input[type="range"].slider::-webkit-slider-thumb:hover {
  outline: 2px solid var(--vb-yellow);
  background-color: var(--dk-violet);
  box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.8);
}

input[type="range"].slider:hover::-webkit-slider-runnable-track {
  background: hsl(290, 70%, 36%);
}

input[type="range"].slider::-webkit-slider-thumb:active {
  background: hsl(52, 100%, 62%);
}

input[type="range"].slider:active::-webkit-slider-runnable-track {
  background: hsl(290, 70%, 36%);
}

input[type="range"].slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(hsl(285, 91%, 52%), hsl(285, 91%, 52%)) 0 /
      var(--sx) 100% no-repeat,
    hsl(290, 70%, 36%);
}

input[type="range"].slider.slider-progress:hover::-webkit-slider-runnable-track,
input[type="range"].slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(hsl(285, 91%, 52%), hsl(285, 91%, 52%)) 0 /
      var(--sx) 100% no-repeat,
    hsl(290, 70%, 36%);
}

/*mozilla*/
input[type="range"].slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: hsl(52, 100%, 62%);
  border: none;
  box-shadow: 0 0 2px black;
}

input[type="range"].slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em;
  background: hsl(290, 70%, 36%);
  box-shadow: none;
}

input[type="range"].slider::-moz-range-thumb:hover {
  background: var(--dk-violet);
}

input[type="range"].slider:hover::-moz-range-track,
input[type="range"].slider:active::-moz-range-track {
  background: hsl(290, 70%, 36%);
  outline: 3px solid var(--vb-yellow);
}

input[type="range"].slider::-moz-range-thumb:active {
  background: hsl(52, 100%, 62%);
}

input[type="range"].slider.slider-progress::-moz-range-track {
  background: linear-gradient(hsl(285, 91%, 52%), hsl(285, 91%, 52%)) 0 /
      var(--sx) 100% no-repeat,
    hsl(290, 70%, 36%);
}

input[type="range"].slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(hsl(285, 91%, 52%), hsl(285, 91%, 52%)) 0 /
      var(--sx) 100% no-repeat,
    hsl(290, 70%, 36%);
}

input[type="range"].slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(hsl(285, 91%, 52%), hsl(285, 91%, 52%)) 0 /
      var(--sx) 100% no-repeat,
    hsl(290, 70%, 36%);
}

/*ms*/
input[type="range"].slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type="range"].slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type="range"].slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: hsl(52, 100%, 62%);
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type="range"].slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: hsl(290, 70%, 36%);
  box-shadow: none;
  box-sizing: border-box;
}

input[type="range"].slider::-ms-thumb:hover {
  background: hsl(52, 100%, 62%);
}

input[type="range"].slider:hover::-ms-track {
  background: hsl(290, 70%, 36%);
}

input[type="range"].slider::-ms-thumb:active {
  background: hsl(52, 100%, 62%);
}

input[type="range"].slider:active::-ms-track {
  background: hsl(290, 70%, 36%);
}

input[type="range"].slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: hsl(285, 91%, 52%);

  border-right-width: 0;
}

input[type="range"].slider.slider-progress:hover::-ms-fill-lower {
  background: hsl(285, 91%, 52%);
}

input[type="range"].slider.slider-progress:active::-ms-fill-lower {
  background: hsl(285, 91%, 52%);
}

/* Check boxes */

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  align-items: flex-start;
  padding: 10px 15px;
}

.checkboxes .config-box {
  display: flex;
  gap: 0.85rem;
  align-items: center;
}

.config-box label {
  font-size: 1.3rem;
}

.config-box input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--vb-cyan);
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
  overflow: hidden;
}

.config-box input:checked {
  background-color: var(--vb-cyan);
}

.config-box input:checked::before {
  position: absolute;
  content: "✔";
  color: var(--dk-text);
  font-size: 1rem;
  top: 1px;
  left: 2px;
  font-weight: 600;
  border-radius: 0.02rem;
}

/* Divider div  */

.divider {
  width: 250px;
  height: 1px;
  border-radius: 50px;
  background-color: var(--vb-cyan);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Strength container  */

.checkboxes .strength-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

[data-indicator] {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  filter: blur(3px);
}
.strength-container p {
  font-size: 1.15rem;
}

/* Generate btn  */
.generateBtnContainer {
  margin-top: 10px;
  width: 100%;
  border-bottom: 5px solid var(--vb-yellow);
  border-radius: 15px;
}
.generateBtn {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--vb-violet);
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--vb-yellow);
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .container {
    width: 300px;
  }
  .display-password {
    width: 300px;
  }
  .config-box {
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .config-box label {
    font-size: 1.2rem;
  }
  .checkboxes {
    padding: 5px 7px;
  }
  .site-heading {
    font-size: 1.6rem;
  }
  .config-box input:checked::before {
    position: absolute;
    content: "✔";
    color: var(--dk-text);
    font-size: 0.8rem;
    top: 1px;
    left: 3px;
  }
}
